@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
    @apply transition-colors duration-300;
}

a {
    @apply transition-none;
}

.icon {
    @apply flex items-center 
    justify-center w-10 h-10 
    rounded-lg transition-all duration-300 
    hover:scale-110 hover:bg-(--color-primary) hover:text-white;
}

:root {
    --color-primary: #14b8a6;
    --color-bg: #efede3;
    --color-text: #000000;
    --color-text-secondary: #ffffff;
}

.dark {
    --color-primary: #fe7f2d;
    --color-bg: #302f2c;
    --color-text: #ffffff;
    --color-text-secondary: #ffffff;
}